body,html {
  line-height: 1;
  font-weight: 200;
  font-family: 'PingFangSC', 'STHeitiSC-light', 'Helvetica-Light', Arial, Helvetica, sans-serif
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
  .border-1px {
    &:after {
      transform: scaleY(0.7);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2) {
  .border-1px {
    &:after {
      transform: scaleY(0.5);
    }
  }
}